rtm
rtm_debug
rtm_optim*
**.swp
**.swo
build/**
outputs/**
.vscode
model_runs/**
**/.Rhistory
Emulation/**
spi-forecasts/**
sitrep_outputs/**
**/spim*
**~
Report_structure*
date_*/**
R/output/*_cache
phe-nowcasts/**
