rtm_optim*
rtm_hpc
rtm_hpc2
**.swp
**.swo
build/**
outputs/**
.vscode
model_runs/**
**/.Rhistory
Emulation/**
spi-forecasts/**
sitrep_outputs/**
**/spim*
**~
**zip
Report_structure*
date_*/**
R/output/*_cache
slurm-*
phe-nowcasts/**
Lombdardy*/**
**.out
**.err
**.RData
**.rds
!base_matrices*.rds
contact_mats/*.txt
scratch/**
.DS_Store
*#
